.heading{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 80px;
 font-size: 48px;
}
.service h4{
    margin-left: 400px;
    margin-top: 50px;
    color: grey;
    width: 730px;
    font-weight: 300;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-1{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-right: 100px;
    margin-top: 50px;
    border: 1px solid rgb(190, 187, 187);
}
.service-1 h1{
    font-size: 24px;
   color: grey;
   padding-left: 80px;
   padding-top: 30px;
}
.service-1 p{
    color: grey;
    padding-left: 60px;
    padding-top: 10px;
}
.service-2{
    margin-top: 50px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid rgb(190, 186, 186);
}
.service-2 h1{
    font-size: 24px;
   color: grey;
   padding-left: 40px;
   padding-top: 30px;
}
.service-2 p{
    color: grey;
    padding-left: 80px;
    padding-top: 10px;
}

.service-1-icon img{
    height: 70px;
    width: 70px;
    padding-left: 120px;
    padding-top: 10px;
}
.service-2-icon img{
    height: 70px;
    width: 70px;
    padding-left: 120px;
    padding-top: 10px;
}